{% extends "layout.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NASD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shelters/">Shelters</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/animals/">Animals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fosters/">Fosters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cages/">Cages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trainers/">Trainers</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
      <div class="jumbotron">
          <h1 class="display-4 text-center">{{animal[1]}}</h1>
          <p class="h1 text-center">{{animal[5]}}</p>
          <div class="row">

            <div class="card text-center col-sm">
                <div class="card-header">Shelter Name</div>
                <div class="card-body">{{animal[2]}}</div>
            </div>

            <div class="card text-center col-sm">
                <div class="card-header">Cage Location</div>
                <div class="card-body">{{animal[3]}}</div>
            </div>

            <div class="card text-center col-sm">
                <div class="card-header">Chip ID</div>
                <div class="card-body">{{animal[4]}}</div>
            </div> 
            
            <div class="card text-center col-sm">
                <div class="card-header">Sex</div>
                {% if animal[6] == 0 %}
                <div class="card-body">Male</div>
                {% else %}
                <div class="card-body">Female</div>
                {% endif %}
            </div>
          </div>
        <div class="row">

            <div class="card text-center col-sm">
                <div class="card-header">Weight</div>
                <div class="card-body">{{animal[7]}} Lbs</div>
            </div>

            <div class="card text-center col-sm">
                <div class="card-header">Available for Adoption</div>
                {% if animal[10] == 0 %}
                <div class="card-body">No</div>
                {% else %}
                <div class="card-body">Yes</div>
                {% endif %}
            </div>

            <div class="card text-center col-sm">
                <div class="card-header">Fostered</div>
                {% if animal[9] == None %}
                <div class="card-body">No</div>
            </div>
                {% else %}
                <div class="card-body">Yes</div>
            </div>

            <div class="card text-center col-sm">
                <div class="card-header">Foster Parent</div>
                <div class="card-body">
                  <a href="/fosterProfile/{{foster[2]}}">{{foster[0]}} {{foster[1]}}</a></div>
            </div>
            {% endif %}
      </div>
            <div class="row">
                <div class="card text-center col-sm">
                    <div class="card-header">Description</div>
                    <div class="card-body">{{animal[8]}}</div>
                </div>
            </div>

            <div class="row">
                <div class="card text-center col-sm">
                    <div class="card-header">Trainers</div>
                    <div class="card-body text-center">
                        {% for train in trainerList%}
                            <p class="text-center">
                              <a href="/trainerProfile/{{train[2]}}"> {{train[0]}} {{train[1]}} </a>
                            </p>
                        {% endfor%}
                    </div>
                    <div class="form-group">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="addTrainerDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add Trainer</button>
                        <div class="dropdown-menu" aria-labelledby="addTrainerDropdownMenuButton">
                            {% for trainOpt in trainerOptions %}
                            <a class="dropdown-item" href="/animalProfile/addTrainer?animal={{animal[0]}}&trainer={{trainOpt[2]}}">{{trainOpt[0]}} {{trainOpt[1]}}</a>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="removeTrainerDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Remove Trainer</button>
                        <div class="dropdown-menu" aria-labelledby="removeTrainerDropdownMenuButton">
                            {% for train in trainerList %}
                            <a class="dropdown-item" href="/animalProfile/removeTrainer?animal={{animal[0]}}&trainer={{train[2]}}">{{train[0]}} {{train[1]}}</a>
                            {% endfor %}
                        </div>
                      </div>
                    </div>       
                </div>
            </div>
            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#updateAnimal">Update</button>
            <button type="button" class="btn btn-danger mt-3" data-target="#deleteAnimal">Delete</button>
        </div>

      </div>
      
      <div class="modal fade" id="updateAnimal" tableindex="-1" role="dialog" aria-labelledby="updateAnimalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAnimalTitle">Update Animal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                  <form class="mb-2" id="updateAnimalForm" action="/animalsProfile/" method="post">                  
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="animalName">Name</label>
                          <input type="text" class="form-control" id="animalName" name="animalName" value="{{animal[1]}}">
                        </div>
                        <div class="form-group col-md-4">
                          <label for="animalType">Type</label>
                          <input type="text" class="form-control" id="animalType" name="animalType" value="{{animal[5]}}">
                        </div>
                        <div class="form-group col-md-4">
                          <div class="form-group">
                            <label for="animalShelterID">Shelter</label>
                            <select type="number" name="animalShelterID" class="form-control" id="animalShelterID" required>
                              <option value="{{animal[11]}}" selected>{{animal[2]}}</option>
                              {% for shelter in allShelters%}
                                {% if shelter[1] != animal[11]%}
                                  <option value="{{shelter[1]}}">{{shelter[0]}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div> 
                        <div class="form-group col-md-4">
                          <label for="animalCageID">Cage ID</label>
                          <input type="text" class="form-control" id="animalCageID" name="animalCageID" value="{{animal[3]}}">
                        </div> 
                        <div class="form-group col-md-2">
                          <label for="animalWeight">Weight in Lbs</label>
                          <input type="number" class="form-control" id="animalWeight" name="animalWeight" value="{{animal[7]}}">
                        </div> 
                      </div>
                      
                      <div class="form-row">
                        <div class="form-group col-auto">
                          <div class="form-check form-check-inline">
                            {% if animal[6] == 0 %}
                              <input class="form-check-input" type="radio" name="animalSex" id="animalMale" value="0" checked>
                            {% else %}
                              <input class="form-check-input" type="radio" name="animalSex" id="animalMale" value="0">
                            {% endif %}
                              <label class="form-check-label" for="animalMale">Male</label>
                          </div>
                          <div class="form-check form-check-inline">
                            {% if animal[6] == 1%}
                              <input class="form-check-input" type="radio" name="animalSex" id="animalFemale" value="1" checked>
                            {% else %}
                              <input class="form-check-input" type="radio" name="animalSex" id="animalFemale" value="1">
                            {% endif %}
                            <label class="form-check-label" for="animalFemale">Female</label>
                          </div>
                        </div>
                        <div class="form-group col-auto">
                          <div class="form-check form-check-inline">
                            {% if animal[10] %}
                            <input class="form-check-input" type="checkbox" id="animalAdopted" value="1" checked>
                            {% else %}
                            <input class="form-check-input" type="checkbox" id="animalAdopted" value="1">
                            {% endif %}
                            <label class="form-check-label" for="animalAdopted">Adopted</label>
                          </div>
                        </div>
                        <div class="form-group col-md-3">
                          <div class="form-group">
                            <label for="fosterParent">Foster Parent</label>
                            <select type="number" name="fosterParent" class="form-control" id="fosterParent" required>
                              {% if foster[0] == None %}
                                <option value="None" selected>None</option>
                              {% else %}
                                <option value="{{animal[9]}}" selected>{{foster[0]}} {{foster[1]}}</option>
                              {% endif %}
                                <option value="None" selected>None</option>
                              {% for fosterOpt in fosterOptions%}
                                {% if fosterOpt[1] != foster[2]%}
                                  <option value="{{fosterOpt[2]}}">{{foster[0]}} {{foster[1]}}</option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-md-3">
                          <label for="animalChipID">Chip ID</label>
                          <input type="text" class="form-control" id="animalChipID" name="animalChipID" value="{{animal[4]}}">
                        </div>
                      </div>                
                      <div class="form-row">

                        <div class="form-group col">
                          <label for="animalDescription">Description</label>
                          <input type="text" class="form-control" id="animalDescription" name="animalDescription" value="{{animal[8]}}">
                        </div> 
                      </div>
                      
                      
                    
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" id="updateAnimalBtn">Update Animal</button>
                </div>
              </form>
            </div>
        </div>
    </div>
    
</div>
    
{% endblock content %}