{% extends "layout.html" %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NASD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shelters/">Shelters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/animals/">Animals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fosters/">Fosters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cages/">Cages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trainers/">Trainers</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
      <h1 class="display-4">National Animal Shelter Databse</h1>
      <hr class="my-4">
      <p class="lead">Our goal is to create a database that will help shelters work together and disburse resources throughout the country. Our hope is that together with volunteers and government assistance, animals will no longer be euthanized due to lack of space in a shelter. </p>
    </div>
  </div>
  <div>
    <img class="img-fluid" src="../static/dogs.jpg" alt="dogs">
  </div>
{% endblock content %}