{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <h1>Shelters</h1>
  <form class="mb-2">
    <h3>Add Shelter</h3>
    <div class="form-group">
      <label for="shelterName">Name</label>
      <input type="text" class ="form-control" id="shelterName" name="shelterName">
    </div>
  
    <fieldset>
      <div class="form-group">
        <label for="shelterAddress">Address</label>
        <input type="text" class="form-control" id="shelterAddress" name="shelterAddress">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="shelterCity">City</label>
          <input type="text" class="form-control" id="shelterCity" name="shelterCity">
        </div>
        <div class="form-group col-md-4">
          <label for="shelterState">State</label>
          <input type="text" class="form-control" id="shelterState" name="shelterState">
        </div>
        <div class="form-group col-md-2">
          <label for="shelterZip">Zip</label>
          <input type="text" class="form-control" id="shelterZip" name="shelterZip">
        </div>
      </div>
    </fieldset>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="shelterAnimalQuantity">Animal Quantity</label>
        <input type="number" class="form-control" id="shelterAnimalQuantity" name="shelterAnimalQuantity">
      </div>
      <div class="form-group col-md-4">
        <label for="shelterCageQuantity">Cage Quantity</label>
        <input type="number" class="form-control" id="shelterCageQuantity" name="shelterCageQuantity">
      </div>
      <div class="form-group col-md-4">
        <label for="shelterTotalCageCapacity">Total Cage Capacity</label>
        <input type="number" class="form-control" id="shelterTotalCageCapacity" name="shelterTotalCageCapacity">
      </div>      
    </div>

    <div class="form-row align-items-center">
      <div class="form-group col-md-4">
        <label for="shelterCurrAmtFosterParents">Current Amount of Foster Parents</label>
        <input type="number" class="form-control" id="shelterCurrAmtFosterParents" name="shelterCurrAmtFosterParents">
      </div>
      <div class="form-group col-md-4">
        <label for="shelterCurrAmtAnimalsFostered">Current Amount of Animals Fostered</label>
        <input type="number" class="form-control" id="shelterCurrAmtAnimalsFostered" name="shelterCurrAmtAnimalsFostered">
      </div>
      <div class="form-group col-md-4">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="shelterRescureGrp" name="shelterRescureGrp" value="1">
          <label class="form-check-label" for="shelterRescureGrp">Rescue Group</label>
        </div>  
      </div>  
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="shelterTrainerID">Add Trainer ID</label>
        <input type="number" class="form-control" id="shelterTrainerID" name="shelterTrainerID">
      </div>
      <div class="form-group col-md-4">
        <label for="shelterFosterID">Add Foster Parent ID (optional)</label>
        <input type="number" class="form-control" id="shelterFosterID" name="shelterFosterID">
      </div>
    </div>

    <button type="submit" class="btn btn-primary" id="addShelterBtn">Add Shelter</button>
  </form>  

  <hr>

  <form class="mb-2">
    <h3>Search Shelter by Location</h3>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="shelterZipSearch">Zip Code</label>
        <input type="text" class="form-control" id="shelterZipSearch" name="shelterZipSearch">
      </div>  
    </div>
    <div>or</div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="shelterCitySearch">City</label>
        <input type="text" class="form-control" id="shelterCitySearch" name="shelterCitySearch">
      </div>
      <div class="form-group col-md-2">
        <label for="shelterStateSearch">State</label>
        <input type="text" class="form-control" id="shelterStateSearch" name="shelterStateSearch">
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" id="shelterSearchBtn">Search</button>
  </form>
  <hr>
  <h3>List of Shelters</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Animal Quanity</th>
        <th scope="col">Cage Quantity</th>
        <th scope="col">Total Cage Capacity</th>
        <th scope="col">Current Amount of Foster Parents</th>
        <th scope="col">Current Amount of Animals Fostered</th>
        <th scope="col">Rescue Group</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Shea's Shelter</td>
        <td>123 Cedar St</td>
        <td>Houston</td>
        <td>TX</td>
        <td>77035</td>
        <td>50</td>
        <td>35</td>
        <td>60</td>
        <td>20</td>
        <td>20</td>
        <td>Y</td>
        <td><button>Update</button></td>
        <td><button>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}