{% extends "layout.html" %}
{% block content %}
<h1>Shelters</h1>

<form style="border-style: ridge;">
  <h3>Search Shelter by Location</h3>
  <input type="text" name="search-zip" placeholder="Zip Code">
  <div>or</div>
  <input type="text" name="search-city" placeholder="City">
  <input type="text" name="search-state" placeholder="State">

  <input type="submit" name="search-shelter" value="Search" id="search-shelter-submit">
</form>

<form style="border-style: ridge;">
  <h3>Add Shelter</h3>
  <input type="text" name="name" placeholder="Name">
  <fieldset>
    <legend>Street Address</legend>
    <input type="text" name="address-street" placeholder="Street">
    <input type="text" name="address-city" placeholder="City">
    <input type="text" name="address-state" placeholder="State">
    <input type="text" name="address-zip" placeholder="Zip Code">
  </fieldset>

  <input type="number" name="animal-quantity" placeholder="Animal Quantity">
  <input type="nummber" name="cage-quantity" placeholder="Cage Quantity">
  <input type="number" name="total-cage-capacity" placeholder="Total Cage Capacity">
  <input type="number" name="curr-amt-foster-parents" placeholder="Current Amount of Foster Parents">
  <input type="number" name="curr-amt-ani-fostered" placeholder="Current Amount of Animals Fostered">
  <input type="checkbox" name="rescue-grp" id="rescue-grp" value="1">
  <label for="rescue-grp">Rescue Group</label>
  
  <input type="submit" name="add-shelter" value="Add Shelter" id="add-shelter-submit">
</form>

<h3>List of Shelters</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip Code</th>
      <th scope="col">Animal Quanity</th>
      <th scope="col">Cage Quantity</th>
      <th scope="col">Total Cage Capacity</th>
      <th scope="col">Current Amount of Foster Parents</th>
      <th scope="col">Current Amount of Animals Fostered</th>
      <th scope="col">Rescue Group</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Shea's Shelter</td>
      <td>123 Cedar St</td>
      <td>Houston</td>
      <td>TX</td>
      <td>77035</td>
      <td>50</td>
      <td>35</td>
      <td>60</td>
      <td>20</td>
      <td>20</td>
      <td>Y</td>
      <td><button>Update</button></td>
      <td><button>Delete</button></td>
    </tr>
  </tbody>
</table>
{% endblock content %}