{% extends "layout.html" %}
{% block content %}
<h1>Trainers</h1>

<form style="border: solid;">
    <h3>Add Trainer</h3>
    
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="specialty" placeholder="Specialty">

    <fieldset>
      <label for="shelter-id">Add Shelter ID</label>
      <input type="number" name="shelter-id" placeholder="shelter ID">
    </fieldset>
  
    <input type="submit" name="add trainer" value="Add Trainer" id="add-trainer-submit">
  </form>
  
  <h3>List of Trainers</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Specialty</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Johnny</td>
        <td>Bards</td>
        <td>Dogs</td>
        <td><button>Update</button></td>
        <td><button>Delete</button></td>
      </tr>
    </tbody>
  </table>
{% endblock content %}