{% extends "layout.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">NASD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shelters/">Shelters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/animals/">Animals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fosters/">Fosters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cages/">Cages</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/trainers/">Trainers</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <h1>Trainers</h1>

  <form class="mb-2">
    <h3>Add Trainer</h3>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="trainerFName">First Name</label>
        <input type="text" class="form-control" id="trainerFName" name="trainerFName">
      </div>
      <div class="form-group col-md-4">
        <label for="trainerLName">Last Name</label>
        <input type="text" class="form-control" id="trainerLName" name="trainerLName">
      </div>
      <div class="form-group col-md-4">
        <label for="trainerSpecialty">Specialty</label>
        <input type="text" class="form-control" id="trainerSpecialty" name="trainerSpecialty">
      </div>      
    </div>

    <div class="form-group">
      <label for="trainerShelterID">Add Shelter ID</label>
      <input type="number" class ="form-control" id="trainerShelterID" name="trainerShelterID">
    </div>

    <button type="submit" class="btn btn-primary" id="addTrainerBtn">Add Trainer</button>
  </form>

  <hr>
  
  <h3>List of Trainers</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Specialty</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Johnny</td>
        <td>Bards</td>
        <td>Dogs</td>
        <td><button>Update</button></td>
        <td><button>Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}